<h1>add bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, label: "Select a movie" %>
  <%= f.input :comment, label: "Add a comment" %>
  <%= f.button :submit, "Add Bookmark" %>
<% end %>
