// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

h1 {
  font-size: 80px;
}

.card-img-top {
  border-radius: 5%;
}

.card {
  border-radius: 5%;
}

.card-body {
  border-top: 2px;
}
